{
  "parser": "@typescript-eslint/parser",
  "extends": [
      "airbnb",
      "airbnb/hooks",
      "prettier/react"
  ],
  "plugins": ["@typescript-eslint"],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_" }
    ],
    "arrow-parens": [2, "as-needed"],
    "curly": "off",
    "dot-notation": "off",
    "no-control-regex": "off",
    "no-unused-vars": "off",
    "space-before-function-paren": [
      "error",
      { "anonymous": "never", "named": "never", "asyncArrow": "always" }
    ],
    "unicorn/number-literal-case": "off",
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".jsx", ".tsx"] }
    ],
    "import/extensions": [
      "error", "always",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "comma-dangle": ["error", "never"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}